body > header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  z-index: 9;
  
}

body > header.active{
  position: sticky;
  top: var(--_top);
  
  background: var(--background);
  box-shadow: 0 10px 10px #0009;

}

body header .home{
  color: var(--primary);
}

body > header > ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
body > header *{
  color: var(--clr-header);
  text-decoration: none;
}

body > header a.log-action{
  text-decoration: underline var(--_clr) 1.5px;
  text-underline-offset: 2px;
}
body > header a.log-action:hover{
  color: var(--_clr);
}

body > header a[href='login']{
  --_clr : var(--primary);
}
body > header a[href='register']{
  --_clr : var(--accent);
}
body > header a[href='logout']{
  --_clr : var(--error-secondary);
}

body > header .dropdown{
  position: relative;
  
}
body > header .dropdown .dropdown-content{
  position: absolute;
  top: 1.5rem;
  right: 0;
  display: none;

  list-style: none;
}
body > header .dropdown .dropdown-content li{
  background-color: white;
}
body > header .dropdown .dropdown-content li:hover{
  filter: brightness(.9);
}
body > header .dropdown .dropdown-content li a{
  display: inline-block;
  padding: .5rem 1rem;
  width: 100%;
  color: var(--background);
}

body > header .dropdown:hover .dropdown-content{
  display: grid;
}