body > header{
  display: flex;
  justify-content: space-between;
  padding: 1.3rem var(--padding);
  position: sticky;
  top: 0;

  z-index: 9;

  transition: .2s background ease-in;

}

body > header.active{
  background: var(--background);
}

body header .home{
  color: var(--primary);
}

body > header ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}
body > header *{
  color: var(--clr-header);
  text-decoration: none;
}

body > header a:hover{
  color: var(--accent);
}